.layer {
  width: 100%;
  height: 100%;
  background: rgba(167, 112, 239, 0.25); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    rgba(253, 185, 155, 0.25),
    rgba(207, 139, 243, 0.25),
    rgba(167, 112, 239, 0.25)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    rgba(253, 185, 155, 0.25),
    rgba(207, 139, 243, 0.25),
    rgba(167, 112, 239, 0.25)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.12s linear;
}
